body {
    background-color: #13307A;
}

#hero {
    width: 250px;
    height: 358px;
    position: relative;
    left: 200px;
    top: 200px;
}


@keyframes hero-stance {
    from {
        top: 0;
    }
    to {
        top: -15px; 
    } 
}


#hero .stance {
    visibility: hidden;
    background-image: url(img/stance.png);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    animation-name: hero-stance;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}

#hero .attack {
    visibility: hidden;
    background-image: url(img/attack.png);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#hero.idle .stance {
    visibility: visible;
}

#hero.attack .attack {
    visibility: visible;
    top: -30px;
}


@keyframes shadow {
    from {
        width: 250px;
    }
    to {
        width: 225px;
        left: 12.5px;
    }
}

#hero .shadow {
    background-image: url(img/shadow.png);
    width: 250px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 1;
    animation-name: shadow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#hero.attack .shadow {
    animation-name:none;
    width: 225px;
    left: 12.5px;
}

#hero .text {
    font-size: 55px;
    font-weight: thin;
    color: white;
    width: 310px;
    position: absolute;
    left: 130%;
    top: -10px;
}


@keyframes laser {
    from {
        width: 175px;
    }
    to {
        width: 520px;
    }
}

#hero .laser {
    background-image: url(img/laser.png);
    width: 175px;
    height: 70px;
    position: absolute;
    left: 140px;
    top: 15px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    animation-name: laser;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#hero .laser::after {
    content: " ";
    width: 4px;
    height: 100%;
    right: 0;
    top: 1;
    background-color: #F8EE49;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0 10px 3px #F8EE49;
}
a {
    color:#FC003B;
    border: 7px inset #FC003B;
}

 